In [126]:
import sys

import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

sys.path.append("./utils")

In [127]:
import loader
import round_classifier
import thresholds
from Parser import Parser

In [128]:
all_data = loader.load_dataset()

In [129]:
all_columns = all_data.columns
all_columns[0:16]

Index(['time_left', 'ct_score', 't_score', 'map', 'bomb_planted', 'ct_health',
       't_health', 'ct_armor', 't_armor', 'ct_money', 't_money', 'ct_helmets',
       't_helmets', 'ct_defuse_kits', 'ct_players_alive', 't_players_alive'],
      dtype='object')

In [130]:
parser = Parser()
# treat_data = all_data.copy()
treat_data = parser.classify_weapons(all_data.copy())
# treat_data = parser.create_round_winner_columns(treat_data.copy())

In [131]:
treat_data["pistol_round"] = treat_data.apply(
    round_classifier.define_pistol_round, axis=1
)

# Defining eco rounds
treat_data["ct_eco"] = treat_data.apply(
    round_classifier.define_full_ct_eco, axis=1)
treat_data["t_eco"] = treat_data.apply(
    round_classifier.define_full_t_eco, axis=1)

# Defining force buy rounds
treat_data["ct_force"] = treat_data.apply(
    round_classifier.define_force_ct_round, axis=1
)
treat_data["t_force"] = treat_data.apply(
    round_classifier.define_force_t_round, axis=1)

In [132]:
# Selecting columns
normal_columns = all_columns[0:16].tolist()
made_columns_t = [
    "t_main_rifle",
    "t_sec_rifle",
    "t_force_weapons",
    "t_weak_pistols",
    "t_strong_pistols",
    "t_granades",
    "t_weapon_awp",
    "t_eco",
    "t_force",
]
made_columns_ct = [
    "ct_main_rifle",
    "ct_sec_rifle",
    "ct_force_weapons",
    "ct_weak_pistols",
    "ct_strong_pistols",
    "ct_granades",
    "ct_weapon_awp",
    "ct_eco",
    "ct_force",
]
extra_columns = [
    "pistol_round",
    "round_winner",
    # "round_winner_t",
    # "round_winner_ct",
    # "t_health_thresholds",
    # "t_health_thresholds_num",
    # "ct_health_thresholds",
    # "ct_health_thresholds_num",
]
selected_columns = normal_columns + made_columns_ct + made_columns_t + extra_columns

# Getting only columns selected columns
final_df = treat_data[selected_columns]
# checando nans
final_df

,time_left,ct_score,t_score,map,bomb_planted,ct_health,t_health,ct_armor,t_armor,ct_money,...,t_sec_rifle,t_force_weapons,t_weak_pistols,t_strong_pistols,t_granades,t_weapon_awp,t_eco,t_force,pistol_round,round_winner
0,175.00,0.0,0.0,de_dust2,False,500.0,500.0,0.0,0.0,4000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1,CT
1,156.03,0.0,0.0,de_dust2,False,500.0,500.0,400.0,300.0,600.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0,0,1,CT
2,96.03,0.0,0.0,de_dust2,False,391.0,400.0,294.0,200.0,750.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0,0,1,CT
3,76.03,0.0,0.0,de_dust2,False,391.0,400.0,294.0,200.0,750.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1,CT
4,174.97,1.0,0.0,de_dust2,False,500.0,500.0,192.0,0.0,18350.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,CT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122405,15.41,11.0,14.0,de_train,True,200.0,242.0,195.0,359.0,100.0,...,0.0,0.0,2.0,0.0,3.0,1.0,0,0,0,T
122406,174.93,11.0,15.0,de_train,False,500.0,500.0,95.0,175.0,11500.0,...,0.0,0.0,0.0,0.0,2.0,1.0,0,0,0,T
122407,114.93,11.0,15.0,de_train,False,500.0,500.0,495.0,475.0,1200.0,...,0.0,0.0,0.0,1.0,14.0,1.0,0,0,0,T
122408,94.93,11.0,15.0,de_train,False,500.0,500.0,495.0,475.0,1200.0,...,0.0,0.0,0.0,1.0,12.0,1.0,0,0,0,T
122409,74.93,11.0,15.0,de_train,False,375.0,479.0,395.0,466.0,1100.0,...,0.0,0.0,0.0,1.0,8.0,1.0,0,0,0,T

In [133]:
final_df.dtypes

time_left            float64
ct_score             float64
t_score              float64
map                   object
bomb_planted            bool
ct_health            float64
t_health             float64
ct_armor             float64
t_armor              float64
ct_money             float64
t_money              float64
ct_helmets           float64
t_helmets            float64
ct_defuse_kits       float64
ct_players_alive     float64
t_players_alive      float64
ct_main_rifle        float64
ct_sec_rifle         float64
ct_force_weapons     float64
ct_weak_pistols      float64
ct_strong_pistols    float64
ct_granades          float64
ct_weapon_awp        float64
ct_eco                 int64
ct_force               int64
t_main_rifle         float64
t_sec_rifle          float64
t_force_weapons      float64
t_weak_pistols       float64
t_strong_pistols     float64
t_granades           float64
t_weapon_awp         float64
t_eco                  int64
t_force                int64
pistol_round           int64
round_winner          object
dtype: object

In [134]:
def round_winner_binnary(dataframe):
    round_winner_bin=[]
    for i in range(0,len(dataframe.index)):
        if dataframe['round_winner'].iloc[i] == 'CT':
            round_winner_bin.append(1)
        elif dataframe['round_winner'].iloc[i] == 'T':
            round_winner_bin.append(0)
    dataframe['roundwinner_bin']=round_winner_bin

round_winner_binnary(final_df)

final_df.head()

<ipython-input-134-9d55dfeb6774>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['roundwinner_bin']=round_winner_bin

,time_left,ct_score,t_score,map,bomb_planted,ct_health,t_health,ct_armor,t_armor,ct_money,...,t_force_weapons,t_weak_pistols,t_strong_pistols,t_granades,t_weapon_awp,t_eco,t_force,pistol_round,round_winner,roundwinner_bin
0,175.00,0.0,0.0,de_dust2,False,500.0,500.0,0.0,0.0,4000.0,...,0.0,0.0,0.0,0.0,0.0,0,0,1,CT,1
1,156.03,0.0,0.0,de_dust2,False,500.0,500.0,400.0,300.0,600.0,...,0.0,0.0,0.0,2.0,0.0,0,0,1,CT,1
2,96.03,0.0,0.0,de_dust2,False,391.0,400.0,294.0,200.0,750.0,...,0.0,0.0,0.0,2.0,0.0,0,0,1,CT,1
3,76.03,0.0,0.0,de_dust2,False,391.0,400.0,294.0,200.0,750.0,...,0.0,0.0,0.0,0.0,0.0,0,0,1,CT,1
4,174.97,1.0,0.0,de_dust2,False,500.0,500.0,192.0,0.0,18350.0,...,0.0,0.0,0.0,0.0,0.0,1,0,0,CT,1

In [135]:
from sklearn.metrics import mean_squared_error
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

labels=final_df['roundwinner_bin'].copy()

In [136]:
meu_imputer = SimpleImputer(strategy="median")
meu_scaler = StandardScaler()

num_pipeline = Pipeline([("imputer", meu_imputer), ("std_scaler", meu_scaler),])

meu_one_hot_encoder = OneHotEncoder(sparse=False)

cat_pipeline = Pipeline([("cat_encoder", meu_one_hot_encoder),])


dataset_num = final_df.drop(labels=["map", "bomb_planted","ct_eco","ct_force","t_eco","t_force","pistol_round","round_winner"], axis=1)
num_attribs = list(dataset_num)
cat_attribs = ["map", "bomb_planted","ct_eco","ct_force","t_eco","t_force","pistol_round","round_winner"]

full_pipeline = ColumnTransformer(
    [("num", num_pipeline, num_attribs), ("cat", cat_pipeline, cat_attribs),]
)

dataset_prepared = full_pipeline.fit_transform(final_df)

In [137]:
from sklearn.model_selection import train_test_split
seed = 42
X = dataset_prepared
# X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.333, random_state = seed)

In [138]:
X_train, X_test, y_train, y_test = train_test_split(X,labels,test_size=0.333, random_state = seed)
features_to_encode = ["map","bomb_planted","ct_armor","t_armor","ct_helmets","t_helmets","ct_defuse_kits","ct_eco","ct_force","t_eco","t_force","pistol_round","round_winner"]

In [139]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
col_trans = make_column_transformer(
                        (OneHotEncoder(),features_to_encode),
                        remainder = "passthrough")
col_trans

ColumnTransformer(remainder='passthrough',
                  transformers=[('onehotencoder', OneHotEncoder(),
                                 ['map', 'bomb_planted', 'ct_armor', 't_armor',
                                  'ct_helmets', 't_helmets', 'ct_defuse_kits',
                                  'ct_eco', 'ct_force', 't_eco', 't_force',
                                  'pistol_round', 'round_winner'])])

In [140]:
from sklearn.ensemble import RandomForestClassifier
rf_classifier = RandomForestClassifier(
                      min_samples_leaf=50,
                      n_estimators=150,
                      bootstrap=True,
                      oob_score=True,
                      n_jobs=-1,
                      random_state=seed,
                      max_features='auto')
rf_classifier.fit(X_train, y_train)

RandomForestClassifier(min_samples_leaf=50, n_estimators=150, n_jobs=-1,
                       oob_score=True, random_state=42)

In [141]:
y_pred = rf_classifier.predict(X_test)

In [142]:
import numpy as np

forest_rmse = np.sqrt(mean_squared_error(y_test, y_pred))

forest_rmse

0.0